body {
  font:12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height:1.5;
  background:url(../images/bglines.png);
}

#header {
  width:90%;
  min-width:980px;
  height:32px;
  margin:10px auto 20px;
  border:8px solid transparent;
  box-shadow:0 0 8px rgba(0,0,0,0.2);
  background-clip:padding-box;
  background-color:rgba(0,0,0,0.1);
}

#header #logo {
  float:left;
}

#header #logo a {
  padding-left:30px;
  padding-right:10px;
  display:block;
  font-size:24px;
  line-height:32px;
  color:#333;
  background:url(../images/logo.png) no-repeat -5px center;
}

#header #logo a:hover {
  background-color:rgba(255,0,0,0.3);
}

#top-menu {
  width:50%;
  float:right;
  list-style:none;
}

#top-menu li{
  width:20%;
  float:left;
  font-size:18px;
  line-height:32px;
}

#top-menu  li a {
  display:block;
  text-align:center;
  vertical-align:bottom;
}

#top-menu li:hover {
  background-color:#abc;
}





#wrapper {
  width:90%;
  min-width:980px;
  margin:0 auto 20px;
}

#left-column {
  width:25%;
  margin:0 -8px;
  min-height:900px;
  background-image:url(../images/aside_bg.png);
  border:8px solid transparent;
  box-shadow:0 0 8px rgba(0,0,0,0.15);
  background-clip:padding-box;
  float:left;
}

#right-column {
  width:75%;
  min-height:900px;
  margin-right:-5px;
  float:left;
}

#sidebar {
}

#msg {
  height:26px;
  margin:8px 0 16px 24px;
  box-shadow:0 0 8px rgba(0,0,255,0.2);
}

#bread-crumb {
  list-style:none;
  float:left;
}

#bread-crumb li {
  float:left;
  font-size:16px;
  line-height:26px;
}

#bread-crumb .sign {
  margin:0 10px;
}

#content {
  width:100%;
  margin:0 -8px 0 -48px;
  padding:0 20px;
  background-color:#fff;
  border:8px solid transparent;
  box-shadow:0 0 8px rgba(0,0,0,0.2);
  background-clip:padding-box;
}

#article {
  min-height:860px;
  padding:20px;
}

#article h2 {
  margin:0 20px;
  background-color:#abc;
  font-size:24px;
  color:blue;
  border-bottom:1px dashed #000;
}



#footer {
  height:45px; 
  border-top:5px solid rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.3);
}
