body {
  font:12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height:1.5;
  background:url(../images/bglines.png);
}

#index #header {
  box-shadow:0 0 8px rgba(239,121,1,0.5);
}

#front #header {
  
}

#header {
  width:90%;
  min-width:980px;
  height:32px;
  margin:10px auto 20px;
  border:1px solid rgba(255,255,255,0.5);
  border-radius:8px;
  padding:7px;
  background-clip:content-box;
  background-color:rgba(0,0,255,0.1);
  position:relative;
  z-index:2;
}


#header #logo {
  width:20%;
  padding-right:5%;
  float:left;
  margin-right:-1px;
  border-right:1px dashed #ddd;
}

#header #logo a {
  padding-left:30px;
  padding-right:10px;
  display:block;
  font-size:24px;
  line-height:32px;
  color:#333;
  text-shadow:1px 1px 1px rgba(255,255,255,1);
  background:url(../images/logo.png) no-repeat -5px center;
}

#header #logo a:hover {
  box-shadow:inset 0 0 8px rgba(239,121,1,0.5);
}

#top-menu {
  width:50%;
  float:left;
  list-style:none;
}

#top-menu > li{
  border-left:1px dashed #666;
  border-right:1px dashed #ddd;
  width:20%;
  margin-left:-1px;
  margin-right:-1px;
  float:left;
  font-size:18px;
  line-height:32px;
  position:relative;
}

#top-menu li.last {
  border-right:1px dashed #666;
}

#top-menu  li > a {
  color:#333;
  display:block;
  text-align:center;
  vertical-align:bottom;
}

#top-menu li:hover {
  background-color:rgba(255,255,255,0.1);
}

#top-menu li .submenu {
  border:8px solid transparent;
  list-style:none;
  display:none;
  width:300%;
  position:absolute;
  top:32px;
  border-radius:0 0 8px 8px;
  margin-left:-100%;
  background-clip:padding-box;
  background-image:url();
  box-shadow:-4px 4px 8px -4px rgba(239,121,1,0.5),4px 4px 8px -4px rgba(239,121,1,0.5);

}

#top-menu li:hover .submenu {
  display:block;
}

#top-menu li .submenu li {
  width:33.3%;
  float:left;
  background-color:rgba(0,0,255,0.3);
}

#top-menu li.front > a {
  text-shadow:1px 1px 1px rgba(213,68,33,0.3);
}

#top-menu li.server > a {
  text-shadow:1px 1px 1px rgba(152,191,13,0.3);
}

#top-menu li.linux > a {
  text-shadow:1px 1px 1px rgba(246,180,2,0.3);
}

#top-menu li.windows > a {
  text-shadow:1px 1px 1px rgba(116,73,241,0.3);
}

#top-menu li.others > a {
  text-shadow:1px 1px 1px rgba(177,71,163,0.3);
}

#top-menu li.front:hover > a {
  box-shadow:inset 0 0 8px rgba(213,68,33,0.5);
}

#top-menu li.server:hover > a {
  box-shadow:inset 0 0 8px rgba(152,191,13,0.5);
}

#top-menu li.linux:hover > a {
  box-shadow:inset 0 0 8px rgba(246,180,2,0.5);
}

#top-menu li.windows:hover > a {
  box-shadow:inset 0 0 8px rgba(116,73,241,0.5);
}

#top-menu li.others:hover  > a {
  box-shadow:inset 0 0 8px rgba(177,71,163,0.5);
}

#search {
  width:20%;
  margin-left:5%;
  margin-right:-5%;
  float:left;
}

#search form {
  height:32px;
}

#search .search-box {
  width:60%;
  margin:4px 0 0 5%;
  padding:0;
  padding-left:5%;
  border:1px solid #999;
  color:#999;
  background-color:transparent;
  box-shadow:inset 0 0 8px rgba(255,255,255,0.75);
  height:22px;
  border-radius:4px;
}

#search .search-box:hover {
  border:1px solid #666;
}

#search .search-box:focus {
  color:#333;
  border:1px solid #666;
  outline:none;
  box-shadow:inset 0 0 8px rgba(0,0,0,0.3);
  background:rgba(255,255,255,0.3);
}

#search .search-btn {
  border:1px solid #333;
  padding:0;
  margin:4px 0 0;
  font-size:14px;
  line-height:1.5;
  background-color:rgba(255,255,255,0.3);
  height:22px;
  width:25%;
  color:#333;
  cursor:pointer;
}

#search .search-btn:hover {

}

#wrapper {
  width:90%;
  min-width:980px;
  margin:0 auto 20px;
}

#left-column {
  width:25%;
  margin:0 -8px;
  min-height:900px;
  background-image:url(../images/aside_bg.png);
  border:8px solid transparent;
  box-shadow:0 0 8px rgba(0,0,0,0.15);
  background-clip:padding-box;
  float:left;
}

#right-column {
  width:75%;
  min-height:900px;
  margin-right:-5px;
  float:left;
}

#sidebar {
}

#msg {
  height:26px;
  margin:8px -8px 16px 24px;
  box-shadow:0 0 8px rgba(0,0,0,0.3);
  border:2px solid #ccc;
  border-radius:8px;
}

#bread-crumb {
  list-style:none;
  float:left;
}

#bread-crumb li {
  float:left;
  font-size:16px;
  line-height:26px;
}

#bread-crumb .sign {
  margin:0 10px;
}

#content {
  width:100%;
  margin:0 -8px 0 -48px;
  padding:0 20px;
  background-color:#fff;
  border:8px solid transparent;
  box-shadow:0 0 8px rgba(0,0,0,0.2);
  background-clip:padding-box;
}

#article {
  min-height:860px;
  padding:20px;
}

#article h2 {
  margin:0 20px;
  background-color:#abc;
  font-size:24px;
  color:blue;
  border-bottom:1px dashed #000;
}

#footer {
  height:95px; 
  border-top:5px solid rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.3);
}
